// about me styles

.aboutMe {
  .wrapper {
    @include bp(sm) {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    @include bp(md) {
      width: 80%;
    }
  }

  img {
    @include bp(sm) {
      flex-basis: 30%;
      margin-right: 25px;
      padding-top: 5px;
    }

    @include bp(md) {
      flex-basis: 40%;
      margin-right: 40px;
    }
  }
}

.aboutMeContainer {
  @include bp(sm) {
    flex-basis: 70%;
    padding-left: 120px;
    position: relative;
  }

  @include bp(md) {
    flex-basis: 60%;
  }
}

.aboutMeTitle {
  @include bp(sm) {
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: top right 0;
    position: absolute;
    right: 100%;
  }
}


.aboutMeText {
  margin: 0;
}
