// about me styles

.aboutMe {

  img {
    @include bp(sm) {
      flex-basis: 30%;
      margin-right: 25px;
      padding-top: 5px;
    }

    @include bp(md) {
      flex-basis: 40%;
      margin-right: 40px;
    }
  }
}

.aboutMeContainer {
  margin-top: 50px;

  @include bp(sm) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  @include bp(md) {
    margin-top: 70px;
  }

  @include bp(lg) {
    margin-top: 90px;
  }

  img {
    @include bp(sm) {
      flex-basis: 30%;
    }
  }
}

.aboutMe p {
  @include bp(sm) {
    flex-basis: 70%;
    margin: 0;
  }

}
