// base styles

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  margin: 0;

  @include bp(md) {
    display: flex;
  }
}

section {
  margin: 90px 0;

  @include bp(sm) {
    margin: 150px 0;
  }

  @include bp(md) {
    margin: 170px 0;
  }

  @include bp(lg) {
    margin: 190px 0;
  }
  
}

.leftContainer {
  display: none;

  @include bp(md) {
    background-color: $gray;
    display: flex;
    flex-basis: 17%;
  }
}

.rightContainer {
  @include bp(md) {
    flex-basis: 83%;
  }
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}



ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

i {
  display: block;
}

p {
  margin: 25px 0;
}

// buttons

.links {
  display: flex;
  justify-content: space-between;

  a {
    flex-basis: 45%;
    min-width: 70px;
    padding: 5px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hamburger,
.close,
li {
  cursor: pointer;
}