// base styles

body {
  background-color: $white;
  margin: 0;

  @include bp(md) {
    display: flex;
  }
}

main {
  position: relative;
}

section {
  margin: 90px 0;

  @include bp(sm) {
    margin: 150px 0;
  }

  @include bp(md) {
    margin: 170px 0;
  }

  @include bp(lg) {
    margin: 190px 0;
  }
 
}

.aboutMe {
  margin-top: 170px;

  @include bp(lg) {
    margin-top: 190px;
  }
}

input:focus,
textarea:focus {
  outline: none;
}

//gray area on the left on desktop view
.leftContainer {
  display: none;

  @include bp(md) {
    background-color: $gray;
    display: flex;
    flex-basis: 17%;
  }
}

//body content container
.rightContainer {
  @include bp(md) {
    flex-basis: 83%;
  }
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

//undo defaults
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

i {
  display: block;
}

p {
  margin: 25px 0;
}

// buttons

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.links {
  display: flex;
  justify-content: space-between;

  a {
    flex-basis: 45%;
    min-width: 70px;
    padding: 5px;
  }
}

button,
.close,
li {
  cursor: pointer;
}

.close {
  color: $white;
}

.hamburger:hover,
.hamburger:focus { 
  transform: scale(1.2);
}

.links a ,
.submit {
  position: relative;
  
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: $darkGray;
    transform: scaleY(0);
    transition: transform $transition;
  }
  
  &::before {
    left: -1%;
    transform-origin: center center;
  }
  
  &:hover::before {
    transform-origin: center center;
    transform: scaleY(1);
  }
  
  &::after {
    right: -1%;
    transform-origin: center center;
  }
  
  &:hover::after {
    transform-origin: center center;
    transform: scaleY(1);
  }  
}


.submit {

  &::before {
    left: 80%;
  }

  &::after {
    right: 80%;
  }
}

.socialMedia a:active,
.links a:active,
input[type=submit]:active {
  background-color: $gray;
}

input[type=submit] {
  display: block;
  margin: 0 auto;
  width: 60%;
}

// toggle display
.hide {
  display: none;
}

.fade {
  opacity: 0;
}