// contact styles

form {
  margin-top: 50px;

  @include bp(md) {
    margin-top: 70px;
  }

}

.formTop {
  @include bp(sm) {
    display: flex;
    justify-content: space-between;
  }
}

.nameInput,
.emailInput {
  @include bp(sm) {
    flex-basis: 50%;
  }
}

.nameInput {
  @include bp(sm) {
    margin-right: 30px;
  }
}


input {
  background-color: transparent;
  border: none;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=textarea] {
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid $darkGray;
  transition: border $transition;

  &::placeholder {
    text-transform: capitalize;
    font-size: 1.0rem;
  }

  &:focus {
    border-left: 1px solid $darkGray;
  }

  &:active {
    border: 1px solid $darkGray;
  }
}

input[type=textarea] {
  padding-bottom: 150px;
}

