// projects styles


.project {
  margin: 50px 0 70px;

  @include bp(sm) {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    &:first-of-type {
      margin-top: 100px;
    }
  }

  @include bp(md) {
    margin: 0;
  }

  img {
    margin-top: 20px;

    @include bp(sm) {
      margin: 0;
      margin-right: 30px;
      flex-basis: 40%;
    }

    @include bp(md) {
      margin: 0;
      flex-basis: 50%;
    }
  }
}

.projectContainer {
  @include bp(sm) {
    flex-basis: 50%;
  }

  @include bp(md) {
    flex-basis: 50%;
    position: relative;
    padding: 100px 0;
  }

  h3 {
    @include bp(sm) {
      margin: 0;
    }
  }

  p:last-of-type {
    @include bp(md) {
      margin: 30px 0;
    }
  }
}

.projectTitle {
  @include bp(md) {
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: top right 0;
    position: absolute;
  }
}

.project:nth-child(odd) {
  @include bp(md) {
    flex-direction: row-reverse;

    .projectContainer {
      margin-right: 70px;
      padding-right: 50px;
    }

    .projectTitle {
      right: 0;
    }
  }
}


.project:nth-child(even) {
  @include bp(md) {
    .projectContainer {
      margin-left: 50px;
      padding-left: 70px;
    }

    .projectTitle {
      right: 100%;
    }
  }
}



.progLanguages {
  margin-bottom: 0;

  @include bp(md) {
    margin: 0;
  }

  & + p {
    margin-top: 15px;
  }
}

