// projects styles


.project {
  margin: 50px 0 0;

  @include bp(sm) {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0;

    &:first-of-type {
      margin: 50px 0 0;
    }
  }

  @include bp(md) {
    margin: 120px 0 0;

    &:first-of-type {
      margin: 70px 0 0;
    }
  }

  @include bp(lg) {
    margin: 150px 0 0;

    &:first-of-type {
      margin: 90px 0 0;
    }
  }
}

.projectImg {
  position: relative;
  margin-top: 20px;

    @include bp(sm) {
      margin: 0;
      margin-right: 30px;
      flex-basis: 60%;
    }

    @include bp(md) {
      flex-basis: 55%;
    }

    @include bp(lg) {
      flex-basis: 50%;
    }
  }

.projectContainer {
  @include bp(sm) {
    flex-basis: 40%;
  }

  @include bp(md) {
    flex-basis: 45%;
  }

  @include bp(lg) {
    flex-basis: 50%;
  }

  h3 {
    @include bp(sm) {
      margin: 0;
    }
  }
}

.projectContent {

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $darkGray;
    display: block;
  }

}

.description {
  margin-bottom: 15px;

  @include bp(sm) {
    margin: 20px 0;
  }

}

.langTools {
  display: flex;
  flex-wrap: wrap;

  @include bp(sm) {
    margin: 20px 0;
  }

}

.langTools li {
  border: 1px solid $darkGray;
  color: $darkGray;
  padding: 6px;
  margin: 3px 3px 3px 0;

  @include bp(sm) {
    margin: 5px 5px 3px 0;
    padding: 7px;
  }

  @include bp(md) {
    margin: 7px 7px 5px 0;
    padding: 8px;
  }
}

.links {
  margin-top: 10px;
}

.friend {
  &:hover {
      color: $black;
      font-weight: 600;
   }
}