// typography

// headings

body,
a {
  font-size: 125%;
  color: $black;
}

h1,
h2,
h3,
p,
ul,
.logo,
a,
input[type=submit] {
  font-family: $sansSerif;
}


h1,
h2,
.logo {
  font-weight: 700;
}

h1, 
h3,
.dev,
nav,
.subTitle,
a,
input[type=submit] {
  text-transform: uppercase;
}

h1, 
nav {
  letter-spacing: 3px;
}

h1 {
  font-size: 4.2rem;

  @include bp(sm) {
    line-height: 0.8;
  }

  @include bp(md) {
    font-size: 4.4rem;
  }

  @include bp(lg) {
    font-size: 5.3rem;
  }

  @include bp(xlg) {
    font-size: 5.5rem;
  }
}

h2,
h3 {
  letter-spacing: 2px;
}

h2 {
  font-size: 2.0rem;
  margin-bottom: 0;

  @include bp(md) {
    font-size: 3.2rem;
  }

}

h3 {
  font-size: 1.3rem;
  margin: 15px 0;
  font-weight: 600;
  line-height: 1.2;

  @include bp(sm) {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  @include bp(md) {
    font-size: 1.8rem;
  }
}

.langTools {
  font-size: 0.9rem;

  @include bp(md) {
    font-size: 1.0rem;
  }
}

p,
a,
input[type=submit] {
  line-height: 1.3;
  font-size: 1.0rem;

  @include bp(md) {
    line-height: 1.5;
  }
}

p, 
.subTitle {
  color: $darkGray;
}

p {
  margin: 15px 0;

  @include bp(lg) {
    font-size: 1.1rem;
  }
}

.subTitle {
  margin: 5px 0;
  font-size: 0.8rem;
  font-family: $serif;
  font-style: italic;
  letter-spacing: 1px;

  @include bp(md) {
    font-size: 1.4rem;
    margin: 10px 0;
  }

}

a,
input[type=submit] {
  text-decoration: none;
  color: $black;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  
  @include bp(md) {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}

.friend {
  font-weight: normal;
  color: $darkGray;
  text-transform: none;
  text-decoration: underline;
}

.dev {
  margin-top: 0;
  font-family: $cursive;
  font-size: 2.1rem;
  line-height: 1.0;
  color: $black;

  @include bp(sm) {
    font-size: 2.2rem;
  }

  @include bp(md) {
    font-size: 2.4rem;
  }

  @include bp(lg) {
    font-size: 3.1rem;
  }
}

.logo {
  font-size: 1.8rem;
}

.progLanguages li {
  font-size: 1.0rem;
}

.socialMedia a {
  font-size: 1.3rem;

  @include bp(md) {
    font-size: 1.4rem;
  }
}

.aboutMeContainer p {
  @include bp(md) {
    font-size: 1.1rem;
  }

  @include bp(md) {
    font-size: 1.2rem;
  }
}