// variables

// colors
$black: #1d2731;
$white: #f4f4f4;
$gray: #d9d9d9;
$grayHsla: hsla(0, 0%, 85%, 0.75);
$darkGray: #696969;
$red: #cd5c5c;

// typefaces
$serif: 'Lora', serif;
$sansSerif: 'Montserrat', sans-serif;
$cursive: 'Shadows Into Light', cursive;

// transition
$transition: 0.5s ease-in-out;

// Variables for media query
$bp-sm: 768px;
$bp-md: 960px;
$bp-lg: 1150px;
$bp-xlg: 1420px;

// Mixin for media query
@mixin bp($class) {
  @if $class == sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $bp-md) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  } @else if $class == xlg {
    @media (min-width: $bp-xlg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg, xlg";
  }
}

// height media query
@mixin hbp($class) {
  @if $class == sm {
    @media (min-height: 1100px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin for height supports: sm";
  }
}
