article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio, canvas, video {
  display: inline-block;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, html, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #F4F4F4;
  margin: 0; }
  @media (min-width: 960px) {
    body {
      display: flex; } }

section {
  margin: 90px 0; }
  @media (min-width: 768px) {
    section {
      margin: 150px 0; } }
  @media (min-width: 960px) {
    section {
      margin: 170px 0; } }
  @media (min-width: 1150px) {
    section {
      margin: 190px 0; } }

.leftContainer {
  display: none; }
  @media (min-width: 960px) {
    .leftContainer {
      background-color: #D9D9D9;
      display: flex;
      flex-basis: 17%; } }

@media (min-width: 960px) {
  .rightContainer {
    flex-basis: 83%; } }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%; }

i {
  display: block; }

p {
  margin: 25px 0; }

.links {
  display: flex;
  justify-content: space-between; }
  .links a {
    flex-basis: 45%;
    min-width: 70px;
    padding: 5px; }

.hamburger,
.close,
li {
  cursor: pointer; }

.hamburger:hover,
.hamburger:focus,
.close:hover span,
.close:focus span {
  transform: scale(1.2); }

.links a,
.submit {
  position: relative; }
  .links a::before, .links a::after,
  .submit::before,
  .submit::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #696969;
    transform: scaleY(0);
    transition: transform 0.5s ease-in-out; }
  .links a::before,
  .submit::before {
    left: -1%;
    transform-origin: center center; }
  .links a:hover::before,
  .submit:hover::before {
    transform-origin: center center;
    transform: scaleY(1); }
  .links a::after,
  .submit::after {
    right: -1%;
    transform-origin: center center; }
  .links a:hover::after,
  .submit:hover::after {
    transform-origin: center center;
    transform: scaleY(1); }

.submit::before {
  left: 80%; }

.submit::after {
  right: 80%; }

.socialMedia a:active,
.links a:active,
input[type=submit]:active {
  background-color: #D9D9D9; }

input[type=submit] {
  display: block;
  margin: 0 auto;
  width: 60%; }

.hide {
  display: none; }

body,
a {
  font-size: 125%;
  color: #1D2731; }

h1,
h2,
h3,
p,
ul,
.logo {
  font-family: "Montserrat", sans-serif; }

h1,
h2,
.logo {
  font-weight: 700; }

h1,
h3,
.dev,
nav,
.subTitle,
a,
input[type=submit] {
  text-transform: uppercase; }

h1,
nav {
  letter-spacing: 3px; }

h1 {
  font-size: 4.2rem; }
  @media (min-width: 768px) {
    h1 {
      line-height: 0.8; } }
  @media (min-width: 960px) {
    h1 {
      font-size: 4.4rem; } }
  @media (min-width: 1150px) {
    h1 {
      font-size: 5.3rem; } }
  @media (min-width: 1420px) {
    h1 {
      font-size: 5.5rem; } }

h2,
h3 {
  letter-spacing: 2px; }

h2 {
  font-size: 2.0rem;
  margin-bottom: 0; }
  @media (min-width: 960px) {
    h2 {
      font-size: 2.6rem; } }
  @media (min-width: 1150px) {
    h2 {
      font-size: 3.0rem; } }

h3 {
  font-size: 1.3rem;
  margin: 15px 0;
  font-weight: 600;
  line-height: 1.2; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
      letter-spacing: 1px; } }
  @media (min-width: 960px) {
    h3 {
      font-size: 1.8rem; } }

.langTools {
  font-size: 0.9rem; }
  @media (min-width: 960px) {
    .langTools {
      font-size: 1.0rem; } }

p,
a,
input[type=submit] {
  line-height: 1.3;
  font-size: 1.0rem; }
  @media (min-width: 960px) {
    p,
    a,
    input[type=submit] {
      line-height: 1.5; } }

p,
.subTitle {
  color: #696969; }

p {
  margin: 15px 0; }
  @media (min-width: 1150px) {
    p {
      font-size: 1.1rem; } }

.subTitle {
  margin: 5px 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-style: italic; }
  @media (min-width: 960px) {
    .subTitle {
      font-size: 1.1rem;
      margin: 10px 0; } }

a,
input[type=submit] {
  text-decoration: none;
  color: #1D2731;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px; }
  @media (min-width: 960px) {
    a,
    input[type=submit] {
      text-transform: uppercase;
      font-size: 1.2rem; } }

.dev {
  margin-top: 0;
  font-family: "Shadows Into Light", cursive;
  font-size: 2.1rem;
  line-height: 1.0;
  color: #1D2731; }
  @media (min-width: 768px) {
    .dev {
      font-size: 2.2rem; } }
  @media (min-width: 960px) {
    .dev {
      font-size: 2.4rem; } }
  @media (min-width: 1150px) {
    .dev {
      font-size: 3.1rem; } }

.logo {
  font-size: 1.8rem; }

.progLanguages li {
  font-size: 1.0rem; }

.socialMedia a {
  font-size: 1.3rem; }
  @media (min-width: 960px) {
    .socialMedia a {
      font-size: 1.4rem; } }

header {
  position: relative;
  height: 95vh; }
  @media (min-width: 960px) {
    header {
      display: flex;
      align-items: center; } }

.logo {
  padding: 15px 0 10px; }

.hamburger {
  margin-bottom: 15px; }

@media (min-width: 960px) {
  .hamburger,
  .topNavList .close {
    display: none; } }

@media (min-width: 768px) {
  nav {
    padding-bottom: 50px; } }

@media (min-width: 960px) {
  nav {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 3%;
    width: 12.5vw; } }

@media (min-width: 960px) {
  nav .wrapper {
    width: 100%; } }

.navContainer {
  background-color: #1D2731;
  color: #F4F4F4;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  @media (min-width: 960px) {
    .navContainer {
      background-color: transparent;
      display: block;
      position: static;
      padding: 60% 0; } }

.topNavList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }
  @media (min-width: 960px) {
    .topNavList {
      margin: 40px 0;
      padding: 0;
      width: 100%; } }
  .topNavList li {
    margin: 30px 0;
    position: relative; }
    @media (min-width: 960px) {
      .topNavList li {
        margin: 20px 0;
        width: 100%;
        position: relative; } }
    .topNavList li:first-of-type::before, .topNavList li:first-of-type::after {
      display: none; }
  .topNavList a {
    color: #F4F4F4; }
    @media (min-width: 960px) {
      .topNavList a {
        color: #1D2731; } }
  .topNavList .close {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .topNavList .close::after {
      display: none; }
    @media (min-width: 960px) {
      .topNavList .close {
        display: none; } }
  @media (min-width: 960px) {
    .topNavList .logo {
      display: none; } }

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  margin-top: 15px; }
  @media (min-width: 768px) {
    .socialMedia {
      width: 30%;
      padding-top: 50px; } }
  @media (min-width: 960px) {
    .socialMedia {
      position: absolute;
      bottom: 0;
      right: 100%;
      width: 12.5vw;
      margin-right: 3%; } }
  .socialMedia li {
    flex-basis: 25%;
    padding: 0 3%; }

.topNavList li,
.socialMedia a {
  position: relative; }
  .topNavList li::before, .topNavList li::after,
  .socialMedia a::before,
  .socialMedia a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #696969;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out; }
  .topNavList li::before,
  .socialMedia a::before {
    top: -5px;
    transform-origin: center right; }
  .topNavList li:hover::before,
  .socialMedia a:hover::before {
    transform-origin: center left;
    transform: scaleX(1); }
  .topNavList li::after,
  .socialMedia a::after {
    bottom: -5px;
    transform-origin: center right; }
  .topNavList li:hover::after,
  .socialMedia a:hover::after {
    transform-origin: center left;
    transform: scaleX(1); }
  .topNavList li:active,
  .socialMedia a:active {
    background-color: #696969; }
  .topNavList li:active a,
  .socialMedia a:active a {
    color: #F4F4F4;
    font-weight: normal; }

.socialMedia a::before, .socialMedia a::after {
  width: 80%; }

.headerContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 80px);
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 768px) {
    .headerContainer {
      grid-template-rows: repeat(7, minmax(50px, 70px));
      grid-template-columns: repeat(9, 1fr); } }
  @media (min-width: 960px) {
    .headerContainer {
      grid-template-rows: repeat(9, 60px);
      grid-template-columns: repeat(9, 1fr); } }
  @media (min-width: 1150px) {
    .headerContainer {
      grid-template-rows: repeat(11, 60px);
      grid-template-columns: repeat(10, 1fr); } }

h1 {
  margin-top: 10px;
  grid-row: 1 / -1;
  grid-column: 1; }
  @media (min-width: 768px) {
    h1 {
      grid-row: 3;
      grid-column: 1 / span 7; } }
  @media (min-width: 1150px) {
    h1 {
      grid-row: 5;
      grid-column: 1 / span 6;
      margin-top: 0; } }
  @media (min-width: 1420px) {
    h1 {
      grid-column: 2 / span 6; } }

h1,
.dev {
  margin-left: 10px; }
  @media (min-width: 768px) {
    h1,
    .dev {
      margin-left: 0; } }

.dev {
  grid-row: 3;
  grid-column: 1; }
  @media (min-width: 768px) {
    .dev {
      grid-row: 4;
      grid-column: 1 / span 6; } }
  @media (min-width: 960px) {
    .dev {
      margin-top: 15px; } }
  @media (min-width: 1150px) {
    .dev {
      grid-row: 6;
      margin-top: 20px; } }
  @media (min-width: 1420px) {
    .dev {
      grid-column: 2/ span 4; } }

.myPhoto {
  border: 10px solid #D9D9D9;
  grid-row: 1 /span 6;
  grid-column: 1 / 3;
  justify-self: end;
  z-index: -1; }
  @media (min-width: 768px) {
    .myPhoto {
      grid-row: 2;
      grid-column: 4 / span 3; } }
  @media (min-width: 1150px) {
    .myPhoto {
      grid-row: 3;
      grid-column: 5/ span 3; } }

@media (min-width: 768px) {
  .aboutMe img {
    flex-basis: 30%;
    margin-right: 25px;
    padding-top: 5px; } }

@media (min-width: 960px) {
  .aboutMe img {
    flex-basis: 40%;
    margin-right: 40px; } }

.aboutMeContainer {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .aboutMeContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 50px; } }
  @media (min-width: 960px) {
    .aboutMeContainer {
      margin-top: 70px; } }
  @media (min-width: 1150px) {
    .aboutMeContainer {
      margin-top: 90px; } }
  @media (min-width: 768px) {
    .aboutMeContainer img {
      flex-basis: 30%; } }

@media (min-width: 768px) {
  .aboutMe p {
    flex-basis: 70%;
    margin: 0; } }

.project {
  margin: 50px 0 0; }
  @media (min-width: 768px) {
    .project {
      display: flex;
      justify-content: space-between;
      margin: 100px 0 0; }
      .project:first-of-type {
        margin: 50px 0 0; } }
  @media (min-width: 960px) {
    .project {
      margin: 120px 0 0; }
      .project:first-of-type {
        margin: 70px 0 0; } }
  @media (min-width: 1150px) {
    .project {
      margin: 150px 0 0; }
      .project:first-of-type {
        margin: 90px 0 0; } }

.projectImg {
  position: relative;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .projectImg {
      margin: 0;
      margin-right: 30px;
      flex-basis: 60%; } }
  @media (min-width: 960px) {
    .projectImg {
      flex-basis: 55%; } }

@media (min-width: 768px) {
  .projectContainer {
    flex-basis: 40%; } }

@media (min-width: 960px) {
  .projectContainer {
    flex-basis: 45%; } }

@media (min-width: 768px) {
  .projectContainer h3 {
    margin: 0; } }

.projectContent::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #696969;
  display: block; }

.description {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .description {
      margin: 20px 0; } }

.langTools {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .langTools {
      margin: 20px 0; } }

.langTools li {
  border: 1px solid #696969;
  color: #696969;
  padding: 6px;
  margin: 3px 3px 3px 0; }
  @media (min-width: 768px) {
    .langTools li {
      margin: 5px 5px 3px 0;
      padding: 7px; } }
  @media (min-width: 960px) {
    .langTools li {
      margin: 7px 7px 5px 0;
      padding: 8px; } }

.links {
  margin-top: 10px; }

.skillIcons {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr); }
  @media (min-width: 768px) {
    .skillIcons {
      margin-top: 50px; } }
  @media (min-width: 960px) {
    .skillIcons {
      margin-top: 70px; } }
  .skillIcons i,
  .skillIcons .firebase {
    width: 70px;
    height: 70px;
    margin: 10px auto;
    font-size: 4.0rem;
    text-align: center; }
    @media (min-width: 768px) {
      .skillIcons i,
      .skillIcons .firebase {
        font-size: 4.8rem;
        margin: 20px auto; } }

.firebase {
  position: relative;
  background-color: #1D2731;
  padding: 3px; }
  .firebase img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

form {
  margin-top: 50px; }
  @media (min-width: 960px) {
    form {
      margin-top: 70px; } }

@media (min-width: 768px) {
  .formTop {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .nameInput,
  .emailInput {
    flex-basis: 50%; } }

@media (min-width: 768px) {
  .nameInput {
    margin-right: 30px; } }

input {
  background-color: transparent;
  border: none;
  width: 100%; }

input[type=text],
input[type=email],
input[type=textarea] {
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid #696969;
  transition: border 0.5s ease-in-out; }
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=textarea]::placeholder {
    text-transform: capitalize;
    font-size: 1.0rem; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=textarea]:focus {
    border-left: 1px solid #696969; }
  input[type=text]:active,
  input[type=email]:active,
  input[type=textarea]:active {
    border: 1px solid #696969; }

input[type=textarea] {
  padding-bottom: 150px; }
